.div-table{
	display: table;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	table-layout: fixed;
	font-size: 28upx;
	word-break: break-all;
}

.div-table input.borderInput{
	border: 2upx solid #ccc;
	border-radius: 6upx;
	width: 80%;
	height: 80%;
	display: inline-flex;
}
	
.div-table-thead{
	display: table-header-group;
}
.div-table-tbody{
	display: table-row-group;
}
.div-table-tfoot{
	display: table-footer-group;
}
.div-table-tr{
	display: table-row;
	width: 100%;
}
.div-table-td,.div-table-th{
	display: table-cell;
	vertical-align: middle;
	height: 76upx;
}
.border-top{
	border-top: 1upx solid #efefef;
}
.border-bottom{
	border-bottom: 1upx solid #efefef;
}